<div class="container">
    <form>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="name">Nome</label>
                <input type="text" [(ngModel)]="planet.name" placeholder="Nome" name="name" class="form-control" />
            </div>
        </div>

        <div class="row grid-row">
            <div class="form-group col-sm-6 col-centered">
                <label for="discoveryDate">Data da Descoberta</label>
                <!-- <input type="datetime"  /> -->
                    <ngb-datepicker #d [(ngModel)]="planet.discoveryDate" placeholder="Data da Descoberta"
                    name="discoveryDate" class="form-control"></ngb-datepicker>
            </div>

            <div class="form-group col-sm-6 col-centered">
                <label for="orbitVelocity">Velocidade de Orbita</label>
                <input type="number" [(ngModel)]="planet.orbitVelocity" placeholder="Velocidade de Orbita"
                    name="orbitVelocity" class="form-control" />
            </div>
        </div>
        <div class="form-group form-check col-sm-3">
            <input type="checkbox" [(ngModel)]="planet.hasRings" placeholder="Possui Aneis" name="hasRings"
                class="form-check-input" />
            <label for="hasRings">Possui Aneis</label>
        </div>
        <div class="row grid-row">
            <button class="btn btn-primary col-sm-3 col-centered"
                (click)="doAction()">{{ buttonText? buttonText: "Salvar" }}</button>
        </div>
    </form>
</div>